<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
    <div>
        <fieldset>

            <textarea cols="40" rows="15" id="userInput">
                빛을 이용해 우리 몸 깊은 곳을 관찰하기 위해서는 충분한 빛 에너지를 전달해 반사되는 신호를 정확하게 측정해야한다. 하지만, 생체 조직에서 빛은 다양한 세포들에 부딪히며 생기는 다중산란 현상과 이미지가 흐릿하게 보이는 수차로 관찰이 쉽지 않다.
            </textarea>
            <br>
            <button id="detectBtn">언어감지</button>
            <br>
            <p>결과 : <span id="result"></span></p>

        </fieldset>
    </div>
    <script>

        //$('#detectBtn').on('click', function () {
        $('#detectBtn').on('click', () => {
            // 1. 사용자가 입력한 텍스트를 추출 => 특정 후 추출
            let src = $('#userInput').val()
            console.log(src)
            // 2. 해당 텍스트를 서버측으로 전송(서버주소, 전송방식(post방식-양이 많기 때문), 응답형태(json))
            //    비동기 백그라운드 통신 방식으로 전송(ajax)
            $.post({
                url: '/predict',            // 서버측 주소
                data: 'key=' + src,        // 전달할 데이터 키=값&키=값....
                dataType: 'json',          // 응답 데이터는 json으로 전달해라(포멧지정)
                success: (res) => {        // 통신이 성공하면 결과를 res에 담아서 콜백함수를 호출한다
                    // 3. 결과를 화면에 표시하시오 -> 이글은 한국어 입니다. 
                    console.log('성공', res)
                    $('#result').html(`이 글은 ${res.value}입니다.`)
                },
                error: (err) => {          // 통신오류
                    console.log('오류', err)
                }
            })
        })
    </script>
</body>

</html>