<html>
    <head>
        <!--jQuery 설치 완료-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    </head>
    <body>
        <!--js 프레임워크(jQuery)를 이용하여 입력된 텍스트를 서버로 전송하는 기능 구현-->
        <!--jQuery 선택 이유: 간결하게 html 조작, 서버통신 등 많은 기능 제공하기 때문(생산성 향상)-->
        <div>
            <fieldset>
                
                    <textarea cols="40" rows="15">1</textarea>
                    <br>
                    <button id="detectBtn">언어감지</button>
                    <br>
                    <p>결과 : </p>
                
            </fieldset>
        </div>
        <script>
            // 화면에 보이는 모든 코드가 랜더링이 끝난 지점이 여기!! body태그가 닫히기 직전
            // 1. 버튼을 누른다 -> 그 이벤트를 잡는다 => 버튼에 클릭 이벤트를 등록해라(함수 on())
            // 1-1. 버튼을 특정하라(찾아라) => #detectBtn, jQuery에서는 $('css selector')로 표현
            // console.log($('#detectBtn'))
            function callback()
            {
                console.log('호출')
            }
            // 버튼을 클릭하면 이벤트를 잡아 callback함수(등록된 함수) 호출, '호출'이라는 문자열이 출력됨
            $('#detectBtn').on('click', callback)
        </script>    
    </body>
</html>
